:root {
    --primari-text-color: #212121;
    --secondary-txt-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
    --secondary-background-color: #2F303A;
    --black-color: #000000;
    --margin-gap: 30px;
}


body {
    font-family: Roboto, sans-serif;

    color: var(--primari-text-color);

    margin: 0px;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.header {
    border-bottom: 1px solid #ECECEC;
    
}

.conteiner {
    width: 1200px;
    margin-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.section {
    margin-top: 94px;
}

.header>.conteiner {
    display: flex;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;

}

.oder-nav {
    display: flex;
    align-items: center;
}
.item-logo {
    margin-right: 93px;
}
.header-nav {
    display: flex;
    align-items: center;
}


.header-contact {
    display: flex;
    margin-left: auto;
}


.header-nav > .item,
.header-contact > .item:not(:last-child) {
    margin-right: 50px;
}


.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.conteiner>.spetial-ul {
    display: flex;
}

.spetial-ul-li {
    flex-basis: calc(100%/4) - var(--margin-gap);
}
.spetial-ul-li:not(:last-child) {
    margin-right: var(--margin-gap);
}

.spetial-title {
    margin-bottom: 10px;
}

.variety-content {
display: flex;
/* justify-content: space-between; */
margin-top: 50px;
}

.content-photo {
    width: 370px;
    margin-left: 30px;
}

/* .content-photo:not(:last-child) {
margin-right: 30px;
} */


/* span!!!: */
.logo-top {
    color: #000000;
}
.logo-bottom {
    color: #ffffff;
}


.accent {
    color: var(--accent-color);
}

.white {
    color: var(--primari-white-color);
}


/* .class Reset!!!: */

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}



.header-nav,.header-contact {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--accent-color);
}
.header-contact-item:hover,
.header-contact-item:focus {
    color: var(--accent-color);
}

/* page-portfolio */

/* main-portfolio-filter */


.main-filter {
display: flex;
justify-content: center;
margin-bottom: 50px;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
}
.main-filter-item:not(:last-child) {
    margin-right: 5px;
}

.main-filter-button {
    padding: 6px 22px;
    color: var(--primari-text-color);
}

.main-filter-item {
    cursor: pointer;
}

.main-filter-item:hover,
.main-filter-item:focus {
    color: white;
    background-color: #2196F3;
}

/* main-portfolio-content*/

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-gap));
        margin-top: calc(-1 * var(--margin-gap));

}

.main-content>.item {
 flex-basis: calc(100%/3) - var(--margin-gap);
 margin-left: var(--margin-gap);
 margin-top: var(--margin-gap);
}

.card-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.main-content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.subtitle {
    color: var(--secondary-txt-color);

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* footer */


.footer>.conteiner {
   padding-top: 60px;
   padding-bottom: 60px; 
}

.footer-nav {
    /* font-weight: 400; */
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

.footer-nav-item:not(:last-child) {
    margin-bottom: 9px;    
}

.footer-nav-add:hover,
.footer-nav-add:focus {
    color: var(--accent-color);
}

.footer {
    background-color: var(--secondary-background-color);
}



/*page index */

/* section-main-board */

.title {
    color: var(--primari-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    padding-top: 200px;
    padding-bottom: 30px;
}

.main-board-button {
    
    color: var(--primari-white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 10px 32px;
    border: 1px solid transparent;
    background-color: var(--accent-color);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;

}

.main-board {
    background-color: var(--secondary-background-color);

    text-align: center;

}

/* section-spetial */

.spetial-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.spetial-text {
    color: var(--secondary-txt-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.variety,
.staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.staff-order {
    color: var(--secondary-txt-color);

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}


